* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: $base-font-family;
    font-size: 80%;
    background: $background-color;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $background-color 30%, $brand-color-light);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $background-color 30%, $brand-color-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    line-height: $base-line-height;
}

section {
    min-height: 100vh;
    padding: 0 3rem;
}

h2 {
    font-weight: 300;
    font-size: 1.65rem;
    color: $brand-color;
}

// grid
.row {
    width: 100%;
}
.col {
    float: left;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.66%;
}

// rank
#rank {
    opacity: 0;
    margin-top: -20vh;
    z-index: 999;
}
.btn {
    border: 1px solid $brand-color;
    background-color: rgba($brand-color, .1);
    margin-left: -.5px;
    color: $brand-color;
    padding: .75rem 1rem;
    cursor: pointer;
    &.active {
        background-color: rgba($brand-color, .4);
    }
}

// diff
#diff {
    margin-top: 20vh;
    h2 {
        text-align: center;
    }
}

// intro
#intro {
    background: url("../img/bg.jpg") top center;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 110vh;
    z-index: -1;
    img {
        min-width: 300px;
        width: 40vw;
        position: absolute;
        margin: auto;
        top: -3rem;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .overlay{
        position: absolute;
        top: 0; 
        right: 0; 
        left: 0; 
        bottom: 0;
        background: url("../img/bg_blurred.jpg") top center no-repeat;
        background-size: cover;
        z-index: 0;
        opacity: 0;
      }
}

// body
.case {
    padding: 2rem 3rem;
    line-height: 2.0;
    font-size: 108%;
    img {
        width: 400px;
        display: inline-block;
        margin: 1rem;
        float: left;
        &.right {
            float: right;
        }
    }
}

strong {
    font-weight: 400;
}

// conclusion
#conc {
    text-align: center;
    font-size: 108%;
    padding: 2rem 10rem;
    line-height: 2.0;
    margin-bottom: 20vh;
}