 .bar {
   fill: $brand-color;
 }
 #left_bars .bar {
   fill: rgba($brand-color, 0.75);
 }
 .over {
   opacity: .75;
 }
 .text {
   font-size: .75rem;
 }
 .max {
   fill: red;
 }
//  .selected {
//    fill: black;
//  }
 #years {
   display: block;
   width: 670px;
   margin: 0;
   margin-bottom: 10px;
   padding: 0;
 }
 #years li {
   display: inline;
   border: 1px solid $brand-color-light;
   border-radius: 3px;
   padding: .25rem .6rem;
   margin-right: 14px;
   color: $brand-color-light;
   cursor: pointer;
 }
 #years li:hover, #years li.selected {
   background-color: $brand-color-light;
   color: #fff;
 }

 .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  // diff
  #diff {
    .c4 path {
      stroke-width: 5px;
    }
    
    #members {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
      .btn {
        padding: .75rem;
        position: relative;
        &.featured::after {
          content: "featured";
          position: absolute;
          top: -10px;
          left: 0;
          font-size: .75rem;
          color: #fff;
          background-color: #bd0a0a;
          padding: 0 .2rem;
        }
      }
    }
    #lines {
      display: flex;
      justify-content: center;
    }
  }